body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Rye', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('/assets/background-img/landscape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.main-container {
    max-width: 1990px;
    min-height: calc(100vh - 120px);
}

.game-title {
    margin-top: min(50px, 5%);
    margin-bottom: min(50px, 5%);
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.canvas {
    background-color: black;
    border-radius: 20px;
    border: 1px solid white;
}

dialog[open] {
    display: flex;
}

.dialogWindow {
    border: none;
    background-color: transparent;
    margin-top: -335px;
}

.close-modal {
    visibility: hidden;
    opacity: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 180px;
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
}

.start-btn {
    cursor: pointer;
    font-family: 'Rye';
    color: white;
    font-size: 16px;
    background-color: rgb(34, 37, 36);
    border-radius: 20px;
}

.control-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-row {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.button-control {
    font-family: 'Rye';
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(240, 240, 240, 0.5);
    font-size: 16px;
    color: white;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button-settings {
    font-family: 'Rye';
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(240, 240, 240, 0.5);
    font-size: 16px;
    color: white;
    transition: background-color 0.2s ease;
}

.button-settings:hover{
    background-color: rgba(128, 128, 128, 0.55);
}

.hover{
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.55);
}


.footer-link {
    color: black;
    font-size: 20px;
}

.footer-link:hover {
    color: white;
}

.fullscreen-icon {
  width: 24px;
  height: 24px;
}